.contact{
    background-color: rgb(249,249,249);
    padding-top: 40px;
    padding-bottom: 60px;
   
  
  }
  .contact-form{
    max-width: 430px;
    margin: 0 auto;
    background: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    
  }
  /*.contact-form{
    background-color: rgb(255,249,224);
  }*/
  .container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  }
  .form{
  width: 500px;
  }
  input[type=text],textarea{
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  } 
  input[type=email]{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  } 
  .contact-btn{
    padding: 10px;
    width: 100%;
    background-color:#02101D;
    color: white;
    border: none;
  
  }
  .contact-btn:hover{
    background-color: #041f38;
  }
  
  .form p{
    color: rgb(28, 27, 27);
  }
  .message-success{
    color: green;
    margin-top: 10px;
    font-size: 20px;
  }
  
  .contact-image img{
    height: 78%;
    width: 75%;
    object-fit: contain;
    margin-left: -80px;
    
  }
  .contact-margin{
    margin-top: 50px;
  }
  @media(max-width: 480px){
    .container{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    .form{
      width: 100%;
    }
    /* .contact-image{
      display: flex;
      align-items: center;
      justify-content: center;
      padding-top: 90px;
    }
    .contact-image img{
      height: 78%;
      width: 75%;
      object-fit: contain;
      margin-left: 5px;
      margin-right: 20px;
      margin-top: -65px;
      
    } */
  }
  
  
  