.testimonial-carousel {
    display: flex;
    align-items: center;
    justify-content: center; 
    gap: 1rem;
    position: relative;
    width: 100%;
    max-width: 900px;
    margin: auto;
    overflow: hidden;
  }
  
  .testimonial {
    width: 50rem;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 60px;
  }
  
  .testimonial-card {
    background-color: rgb(255, 253, 241);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.12);
    padding: 20px;
    text-align: start;
    border-radius: 10px;
    transition: transform 0.3s ease-in-out;
  }
  .testimonial-card:hover {
    transform: translateY(-10px);
  }
  .testimonial-card .quote {
    display: flex;
    align-items: start;
    justify-content: start;
  }
  
  .testimonial-card .quote i {
    font-size: 35px;
    color: #000;
    margin-right: 10px;
  }
  
  .testimonial-card p {
    margin: 10px 0px 15px;
    font-size: 17px;
    line-height: 1.5;
    color: #000;
  }
  
  .testimonial-card a {
    color: blue;
    text-decoration: none;
    font-weight: bold;
  }
  
  .testimonial-card .ratings {
    margin-top: 20px;
  }
  
  .testimonial-card .ratings i {
    font-size: 17px;
    color: #000;
  }
  
  .profile {
    display: flex;
    align-items: center;
    justify-content: start;
    margin-top: 25px;
  }
  
  .profile-image {
    width: 13%;
    height: 13%;
    overflow: hidden;
  
  }
  
  .profile .profile-image img {
    width: 50%;
    height: 50%;
    object-fit: cover;
  }
  
  .profile .profile-desc {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .profile-desc span {
    font-size: 20px;
    font-weight: bold;
    color: #000;
    margin-left: -30px;
  }
  
  .carousel-button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 50px;
    color: #fff;
    background-color: black;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .carousel-button:hover {
    background-color: #e1b30e;
  }
  
  .carousel-button:focus {
    outline: none;
  }
  
  .carousel-button.prev {
    margin-right: 1rem;
  }
  
  .carousel-button.next {
    margin-left: 1rem;
  }
  .review_link{
    margin-left: 15px;
  }
  .text_mobile{
    display: none;
  }
  .text_web{
    display: block;
  }
  .text_web >p{
    width: 70%;
  }
  @media(max-width: 480px){
    .testimonial-carousel{
  
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      gap: 1rem;
    
  }
    .testimonial {
      margin-top: 50px;
    }
    .carousel-button{
      margin-left: 20px;
      margin-right: 20px;
      padding: 10px;
      height: 30px;
    width: 30px;
    }
    .profile-image{
      display: none;
    }
    .profile-desc{
      margin-left: 28px;
    }
    .text_mobile{
      display: block;
    }
    .text_web{
      display: none;
    }
  }
  
  