


.carrer-conatiner{
  height: 100%;
  width: 100vw;
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(22,22,108,0.7344187675070029) 0%, rgba(5,157,215,1) 71%, rgba(2,178,232,1) 95%, rgba(0,212,255,1) 100%);
}
